{% extends "layout1.html" %}

{% block title %}
    Current Books
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h2><span class="badge rounded-pill text-bg-info" color="green">Book Return Requests</span></h2>
            <table class="table table-success table-striped">
                <thead>
                    <tr class="table-warning">
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                <tr>
                    <td>{{ book["title"] }}</td>
                    <td>{{ book["author"]  }}</td>
                    <td>{{ book["publisher"]  }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
{% endblock %}