<html>
    <head>
      <script src="https://kit.fontawesome.com/da9e668ac7.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="static/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

      <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
      {% if get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible fade show mb-0 text-center" id="flash" role="alert">
            <span> {{ message }}
            {{ get_flashed_messages() | join(" ") }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="side_menu">
          <div class="menu-btn">
            <i class="fas fa-bars"></i>
          </div>
          <div class="side-bar">
            <div class="close-btn">
              <i class="fas fa-times"></i>
            </div>
            <div class="menu">
              <div class="item"><a href="/">
                <i class="fa-solid fa-house">
                </i>Home</a>
              </div>
              <div class="item">
                <a class="sub-btn">
                  <i class="fa fa-clone">
                  </i>Student Requests<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                  <a href="/return2" class="sub-item">Book Return</a>
                  <a href="/messagelist" class="sub-item">Student Messages</a>
                </div>
              </div>
              <div class="item">
                <a href="/inventory"><i class="fa-solid fa-book"></i>Book Inventory</a>
                </div>
              <div class="item">
                <a class="sub-btn">
                  <i class="fa-solid fa-book">
                  </i>Update Books<i class="fas fa-angle-right dropdown"></i>
                </a>
                <div class="sub-menu">
                  <a href="/update" class="sub-item">Edit Details</a>
                  <a href="/add" class="sub-item">Add Book</a>
                </div>
              </div>
              <div class="item"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a></div>
            </div>

          </div>
          <section class="main">
            <div>
              {% block main %}{% endblock %}
            </div>
          </section>
        </div>


          <script type="text/javascript">
          $(document).ready(function(){
            //jquery for toggle sub menus
            $('.sub-btn').click(function(){
              $(this).next('.sub-menu').slideToggle();
              $(this).find('.dropdown').toggleClass('rotate');
            });

            //jquery for expand and collapse the sidebar
            $('.menu-btn').click(function(){
              $('.side-bar').addClass('active');
              $('.menu-btn').css("visibility", "hidden");
            });

            $('.close-btn').click(function(){
              $('.side-bar').removeClass('active');
              $('.menu-btn').css("visibility", "visible");
            });
          });
          </script>

          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    </body>

</html>